* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

body[data-theme="dark"] {
  --bg-color: #181a1b;
  --text-color: #747474;
  --link-color: #5c81e4;
  --span-color: #b3b3b3;
  --line-color: #9e7a69;
}

.list {
  margin-top: 30px;
}

.list .item {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  width: 960px;
  margin: auto;
  padding-top: 100px;
}

p {
  margin-top: 16px;
}

a {
  text-decoration: none;
  background: none;
  border: none;
  color: var(--link-color);
}

p>a {
  color: var(--text-color);
  text-decoration: underline;
}

span {
  display: inline-block;
  padding: 0 7px;
  font-weight: 700;
  color: var(--span-color);
}

.line {
  color: var(--line-color);
  margin-top: 30px;
}

.list>.item>h2 {
  flex-shrink: 0;
}

video,
img,
iframe {
  display: block;
  margin: 10px auto;
  width: 100%;
}

video,
iframe {
  aspect-ratio: 16/9;
}
